
<app-header/>
<main>
  <ul id="users">
    <!-- // Legacy syntax
    // <li *ngFor="let user of users; trackBy: trackByFn"> < tem que importar tudo -->
    @for (user of users; track user.id){
      <li>
        <app-user 
        [user]="user"
        (select)="onSelectUser($event)"
        />
    }
  </ul>

  <!-- // Legacy syntax
  // <app-tasks *ngIf="selectedUser" [name]="selectedUser!.name"></app-tasks> < tem que importar
  // <p *ngIf="!selectedUser" id="fallback">Select a user to see their tasks!</p> -->
  @if (selectedUser){
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
